<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @autor.nome %>
</p>

<p>
  <strong>Idade:</strong>
  <%= @autor.idade %>
</p>

<%= link_to 'Edit', edit_autor_path(@autor) %> |
<%= link_to 'Back', autors_path %>
