<%= form_for(@postagem) do |f| %>
  <% if @postagem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@postagem.errors.count, "error") %> prohibited this postagem from being saved:</h2>

      <ul>
      <% @postagem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br>
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :data %><br>
    <%= f.date_select :data, order: [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :post %><br>
    <%= f.text_area :post %>
  </div>
  <div class="field">
    <%= f.label :imagem %><br>
    <%= f.text_field :imagem %>
  </div>
  <div class="field">
    <%= f.label :autor_id %><br>
    <%= f.collection_select :autor_id, Autor.all, :id, :nome %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
